.card {
  margin-top: 20px;
  margin-right: 5px;
  border: 2px solid #f8f8f8f8;
  padding: 28px;
  max-width: 220px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  .favorite {
    position: absolute;
    cursor: pointer;
  }
}

@media (max-width: 720px){
  .card {
    margin-top: 40px;
    margin-left: 30px;
  }
}

@media (max-width: 540px){
  .card {
    margin: 40px auto -20px;
  }
}
